body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.login-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

h2 {
  text-align: left;
  color: #007bff;
}

.in1 {
  width: 325px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #007bff;
  border-radius: 8px;
  top: -12px;
  position: relative;
  left: -3px;
}

.re1,
.re2 {
  display: flex;
  justify-content: flex-start;
}
.re2 {
  justify-content: end;
}
#forgot-password-link {
  text-decoration: none;
  color: #007bff;
}
.logsi {
  padding: 10px;
  width: 325px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}
#create-account-link {
  display: block;
  text-align: center;
  color: #007bff;
  text-decoration: none;
  margin: 10px 0;
}
.social-icons {
  display: flex;
  color: black;
  background-color: #f0f0f0;
  width: 30px;
  height: 50px;
  border-radius: 25px;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}
.soc2 {
  display: flex;
  justify-content: center;
}

